@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --accent-color: #8672ff;
  --base-color: #faf9f6;
  --text-color: #2e2b41;
  --input-color: #f3f0ff;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  font-size: 12pt;
  color: var(--text-color);
  text-align: center;
  min-height: 100vh;
  background-color: var(--accent-color);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  background-color: var(--base-color);
  border-radius: 1rem;
  width: 500px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
}

form {
  width: min(400px, 100%);
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

form > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

form label {
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  background-color: var(--accent-color);
  fill: var(--base-color);
  color: var(--base-color);
  border-radius: 10px 0 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-size: 600;
  -webkit-border-radius: 10px 0 0 20px;
  -moz-border-radius: 10px 0 0 20px;
  -ms-border-radius: 10px 0 0 20px;
  -o-border-radius: 10px 0 0 20px;
}

form input {
  flex-grow: 1;
  min-width: 0;
  height: 50px;
  padding: 1rem;
  font: inherit;
  border-radius: 0 10px 10px 0;
  border: 2px solid var(--input-color);
  border-left: none;
  outline: none;
  background-color: var(--input-color);
  transition: 150ms ease;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  -webkit-transition: 150ms ease;
  -moz-transition: 150ms ease;
  -ms-transition: 150ms ease;
  -o-transition: 150ms ease;
}

form input:hover {
  border-color: var(--accent-color);
}

form input:focus {
  outline: none;
  border-color: var(--text-color);
}

div:has(input:focus) > label {
  background-color: var(--text-color);
}

form input::placeholder {
  color: var(--text-color);
}

form button {
  margin-top: 10px;
  border: none;
  outline: none;
  border-radius: 1000px;
  padding: 0.85em 4em;
  background-color: var(--accent-color);
  color: var(--base-color);
  font: inherit;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: 150ms ease;
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  -ms-border-radius: 1000px;
  -o-border-radius: 1000px;
  -webkit-transition: 150ms ease;
  -moz-transition: 150ms ease;
  -ms-transition: 150ms ease;
  -o-transition: 150ms ease;
}

form button:hover {
  background-color: var(--text-color);
}

form button:focus {
  outline: none;
  background-color: var(--text-color);
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

a:hover {
  text-decoration: underline;
}

@media (768px <= width <= 1200px) {
  .wrapper {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
}

form div.incorrect label {
  background-color: #f06272;
}

form div.incorrect input {
  border-color: #f06272;
}
